@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./calendar.css";

/* @layer base {
  :root {
    --background: 221 85% 92%;
    --foreground: 0 0% 0%;
    --card: 221 85% 92%;
    --card-foreground: 0 0% 0%;
    --popover: 221 85% 92%;
    --popover-foreground: 0 0% 0%;
    --primary: 222 85% 47%;
    --primary-foreground: 221 85% 92%;
    --secondary: 222 85% 82%;
    --secondary-foreground: 0 0% 0%;
    --muted: 221 84% 20%;
    --muted-foreground: 0 0% 70%;
    --accent: 222 85% 42%;
    --accent-foreground: 221 85% 92%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 0 0% 0%;
    --border: 221 84% 20%;
    --input: 221 84% 20%;
    --ring: 222 85% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 221 85% 8%;
    --foreground: 0 0% 100%;
    --card: 221 85% 8%;
    --card-foreground: 0 0% 100%;
    --popover: 221 85% 8%;
    --popover-foreground: 0 0% 100%;
    --primary: 222 85% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 222 85% 18%;
    --secondary-foreground: 0 0% 100%;
    --muted: 221 84% 80%;
    --muted-foreground: 0 0% 100%;
    --accent: 222 85% 58%;
    --accent-foreground: 221 85% 8%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 10%;
    --border: 221 85% 60%;
    --input: 221 84% 80%;
    --ring: 222 85% 60%;
  }
} */
@layer base {
  :root {
    --background: 210 80% 98%;
    --foreground: 207 85% 8%;
    --card: 210 80% 98%;
    --card-foreground: 207 85% 8%;
    --popover: 210 80% 98%;
    --popover-foreground: 207 85% 8%;
    --primary: 207 84% 39%;
    --primary-foreground: 210 80% 98%;
    --secondary: 207 84% 85%;
    --secondary-foreground: 207 85% 8%;
    --muted: 210 80% 20%;
    --muted-foreground: 207 86% 70%;
    --accent: 207 84% 45%;
    --accent-foreground: 210 80% 98%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 207 85% 8%;
    --border: 210 80% 20%;
    --input: 210 80% 20%;
    --ring: 207 84% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 210 80% 2%;
    --foreground: 207 85% 92%;
    --card: 210 80% 2%;
    --card-foreground: 207 85% 92%;
    --popover: 210 80% 2%;
    --popover-foreground: 207 85% 92%;
    --primary: 207 84% 61%;
    --primary-foreground: 210 80% 2%;
    --secondary: 207 84% 15%;
    --secondary-foreground: 207 85% 92%;
    --muted: 210 80% 80%;
    --muted-foreground: 207 85% 92%;
    --accent: 207 84% 55%;
    --accent-foreground: 210 80% 2%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 207 84% 10%;
    --border: 210 80% 60%;
    --input: 210 80% 80%;
    --ring: 207 84% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  /* Works on Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: white black;
  }

  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    @apply bg-accent-foreground;
  }

  *::-webkit-scrollbar-thumb {
    @apply rounded-lg bg-accent;
  }
}

.react-time-picker__wrapper {
  border: none !important;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-time-picker__inputGroup {
  font-size: 1.1rem;
  @apply p-2.5 flex justify-center items-center h-11 w-24;
}

.react-time-picker--disabled {
  background-color: #e5e7eb !important;
}

.react-time-picker--disabled .react-time-picker__inputGroup {
  background-color: transparent !important;
  @apply text-gray-700;
}

.react-time-picker__inputGroup__input {
  border: none;
  outline: none;
  height: auto !important;
}

.react-time-picker__inputGroup__input:invalid {
  background: none !important;
}
